.bgNeed{
  /* background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7), url(./assets/img/pc-bg.jpeg)); */
  background:linear-gradient(0deg, rgba(0,0,0,.9),rgba(0,0,0,.9)), url(./assets/img/pc-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Loading Screen */

.loading-screen svg {
  position: absolute;
}

.loading-screen circle:nth-of-type(1) { fill: #ffffff; }
.loading-screen circle:nth-of-type(2) { fill: #fcd837; }
.loading-screen circle:nth-of-type(3) { fill: #f9a11f; }
.loading-screen circle:nth-of-type(4) { fill: #f27c21; }

.loading-screen #clackers {
/*   border: 1px solid white; */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}